{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col col-sm-6">
            {{ form(form) }}
        </div>
        <div class="col col-sm-6">
            <div id="map" style="height: 500px;"><p>Укажите меткой местонахождение вашего объекта</p></div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">

        ymaps.ready(init);

        function init() {
            var myPlacemark,
                myMap = new ymaps.Map('map', {
                    center: [42.46284562, 77.25554600],
                    zoom: 8.5,
                    behaviors: ['default', 'scrollZoom'],
                    searchControlProvider: 'yandex#search'
                });
            myMap.controls
                .add('zoomControl', {left: 5, top: 5})
                // Список типов карты
                .add('typeSelector')
                .add('searchControl');
            myMap.options.set('scrollZoomSpeed', 1.5);

            myMap.events.add('click', function (e) {
                var coords = e.get('coords');

                if (myPlacemark) {
                    myPlacemark.geometry.setCoordinates(coords);
                } else {
                    myPlacemark = createPlacemark(coords);
                    myMap.geoObjects.add(myPlacemark);
                    myPlacemark.events.add('dragend', function () {
                        getAddress(myPlacemark.geometry.getCoordinates());
                    });
                }
                getAddress(coords);

                $('#registration_object_address').val(coords);
            });

            function createPlacemark(coords) {
                return new ymaps.Placemark(coords, {
                    iconCaption: 'поиск...'
                }, {
                    preset: 'islands#violetDotIconWithCaption',
                    //draggable: true
                });

            }

            function getAddress(coords) {
                myPlacemark.properties.set('iconCaption', 'поиск...');
                ymaps.geocode(coords).then(function (res) {
                    var firstGeoObject = res.geoObjects.get(0);
                    var locations_str = firstGeoObject.properties.get('text');
                    locations_str = locations_str.replace('Киргизия,', '');

                    myPlacemark.properties.set({
                        iconCaption: firstGeoObject.properties.get('name'),
                        balloonContent: locations_str
                    });
                });
            }
        }
</script>
{% endblock %}
{% block title %}

{% endblock %}

