{% extends "base.html.twig" %}

{% block title %}Главная страница{% endblock %}

{% block body %}

    <h1>Добро пожаловать!</h1>
        {% if isUser %}
            <h2>Дорогой {{ isUser.getEmail }}</h2>
            <div style="position: absolute; top: 20px; right:30px;">
                {% if isLandlord %}
                    <a href="{{ path('addObject') }}" class="btn btn-success">Зарегистрировать новый объект</a>
                {% endif %}

                <a href="{{ path('app_profile_page') }}" class="btn btn-primary">Личный кабинет</a>
                <a href="/logout" class="btn btn-danger">Выход</a>
            </div>
        {% else %}
            <h2>Дорогой Гость</h2>
            <hr>
            <p>Пожалуйста <a href="{{ path('auth') }}" class="btn btn-primary">авторизуйтесь</a> или <a href="{{ path('app-sign-up') }}" class="btn btn-success">зарегистрируйтесь</a></p>
        {% endif %}
            <div class="row">
                <div class="col col-3">
                    {{ form(formSearchByWord) }}
                </div>
                <div class="col col-9">
                    <div class="row">
                        {% for object in objects %}
                            <div class="col col-6" style="margin: 0; padding: 5px; ">
                                <div style="border: 3px salmon solid; border-radius: 5px; padding: 15px; box-sizing: border-box; height: 100%; width: 100%;">
                                    <h1 style="font-size: 20px;">{{ object.getNameObject }}</h1>
                                    <p style="font-size: 15px; padding: 0; margin-bottom: 5px;"><b>Телефон:</b> {{ object.getContactPhone }}</p>
                                    <p style="font-size: 15px; padding: 0; margin-bottom: 5px;"><b>Адрес</b> {{ object.getAddress }}</p>
                                    <p style="font-size: 15px; padding: 0; margin-bottom: 5px;"><b>Цена:</b> {{ object.getPrice }}</p>
                                    <a href="#" class="btn btn-primary booking">Бронировать</a>
                                    <a href="{{ path('booking_object_details', { id: object.id} ) }}" class="btn btn-info info">Подробнее</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
{% endblock %}
{% block javascripts %}
    <script type="application/javascript">
        $(function() {
            $('.booking').click(function() {
                alert('Извените эта функция пока не работает');
            });
        });
    </script>
{% endblock %}


