{% extends 'base.html.twig' %}

{% block body %}
    <h1>Подробная информация</h1>
    <div class="row">
        <div class="col-6">

                <h4>Название: {{ object.getNameObject }}</h4>
                <p style="font-size: 15px; padding: 0; margin-bottom: 5px;">Контакное лицо: {{ object.getFullName }}</p>
                <p style="font-size: 15px; padding: 0; margin-bottom: 5px;">Количество номеров: {{ object.getQuantityRoom }}</p>
                <p style="font-size: 15px; padding: 0; margin-bottom: 5px;">Контакный телефон: {{ object.getContactPhone }}</p>
                <p style="font-size: 15px; padding: 0; margin-bottom: 5px;">Цена за сутки: {{ object.getPrice }}</p>
                <p style="font-size: 15px; padding: 0; margin: 10px 0 5px 0;">Допольнительные опции</p>
                <ul>
                {% if isPension %}
                    <li>Бассеин: {% if object.getSwimmingPool  %}
                                Есть
                            {% else %}
                                Нету
                            {% endif %}
                    </li>
                    <li>
                    3х разовое питание:
                    {% if object.getCook %}
                        Есть
                    {% else %}
                        Нету
                    {% endif %}
                    </li>
                    <li>
                    Кабельное телевидение:
                    {% if object.getTv %}
                        Есть
                    {% else %}
                        Нету
                    {% endif %}
                        </li>

                {% endif %}
                {% if isCottage %}
                    <li>Интернет: {% if object.getInternet  %}
                            Есть
                        {% else %}
                            Нету
                    {% endif %}</li>
                    <li>Отдельная кухня:
                        {% if object.getKitchen %}
                            Есть
                        {% else %}
                            Нету
                        {% endif %}</li>
                    <li>
                        SPA:
                        {% if object.getSpa %}
                            Есть
                        {% else %}
                            Нету
                        {% endif %}
                    </li>
                {% endif %}
                </ul>
        </div>
        <div class="col-6">
            <div id="map" style="height: 500px;"><p>Карта местности</p></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        ymaps.ready(init);

        function init() {
            var myPlacemark,
                myMap = new ymaps.Map('map', {
                    center: [42.46284562, 77.25554600],
                    zoom: 8,
                    behaviors: ['default', 'scrollZoom'],
                    searchControlProvider: 'yandex#search'
                });
            myMap.controls
                .add('zoomControl', {left: 5, top: 5})
                // Список типов карты
                .add('typeSelector')
                .add('searchControl');
            myMap.options.set('scrollZoomSpeed', 1.5);

            var coords = [{{ object.address }}];

            myPlacemark = createPlacemark(coords);
            myMap.geoObjects.add(myPlacemark);
            myPlacemark.events.add('dragend', function () {
                getAddress(myPlacemark.geometry.getCoordinates());
            });

            getAddress(coords);

            function createPlacemark(coords) {
                return new ymaps.Placemark(coords, {
                    iconCaption: 'поиск...'
                }, {
                    preset: 'islands#violetDotIconWithCaption',
                    //draggable: true
                });

            }

            function getAddress(coords) {
                myPlacemark.properties.set('iconCaption', 'поиск...');
                ymaps.geocode(coords).then(function (res) {
                    var firstGeoObject = res.geoObjects.get(0);
                    var locations_str = firstGeoObject.properties.get('text');
                    locations_str = locations_str.replace('Киргизия,', '');

                    myPlacemark.properties.set({
                        iconCaption: firstGeoObject.properties.get('name'),
                        balloonContent: locations_str
                    });
                });
            }
        }
    </script>
{% endblock %}

{% block title %}

{% endblock %}

