{% extends 'base.html.twig' %}

{% block body %}
    <h1>Авторизоваться будешь?</h1>
    {% if(error) %}
        {{ error }}
    {% endif %}
    {{ form(form) }}
    <hr>
    <script src="//ulogin.ru/js/ulogin.js"></script>
    <div id="uLogin" data-ulogin="display=panel;theme=classic;fields=first_name,last_name;providers=vkontakte,google,facebook;hidden=;redirect_uri=http%3A%2F%2Flocalhost%3A8000%2Flogin_by_social;mobilebuttons=0;"></div>
{% endblock %}

{% block title %}

{% endblock %}

